Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  bugprone-*,
  misc-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: llvm
